<div class="hidden md:flex navbar bg-base-100 shadow-sm">
  <a
    href="https://www.linkedin.com/in/james-distefano-b033aa154/"
    target="_blank"
    class="btn btn-ghost text-xl"
    >LinkedIn</a
  >
  <a
    href="https://github.com/JamesDiStef"
    target="_blank"
    class="btn btn-ghost text-xl"
    >GitHub</a
  >
</div>
<div
  class="min-h-screen bg-gradient-to-r from-cyan-500 to-blue-500 flex items-center justify-center"
>
  <div
    class="items-stretch mx-auto p-4 grid gap-6 lg:grid-cols-3 lg:gap-12 max-w-screen-xl"
  >
    <div class="col-span-full lg:col-span-3 h-1/3">
      <div class="card bg-base-100 w-full shadow-xl lg:text-xl">
        <div class="card-body">
          <h2 class="card-title">James DiStefano</h2>
          <p>I'm a software engineer with five years of experience.</p>
          <p>React, Angular, NextJS, Java, and SQL.</p>
        </div>
      </div>
    </div>

    <div class="flex items-stretch">
      <app-link-card
        class="flex-1 w-full h-full"
        [title]="'Track your Reads'"
        [description]="
          'Goodreads clone built with NextJS.  Typescript, Tailwind, MongoDB. Hosted on Vercel.'
        "
        [link]="'https://reader-teal-pi.vercel.app/'"
        [codeButtonLink]="'https://github.com/JamesDiStef/reader'"
      ></app-link-card>
    </div>

    <div class="flex items-stretch h-full">
      <app-link-card
        class="flex-1 w-full h-full"
        [title]="'Board Games'"
        [description]="
          'React, Typescript, Redux, Tailwind, Vite, Express, MongoDB.  Hosted on Netlify and Firebase.'
        "
        [link]="'https://board-games-and-more.netlify.app/'"
        [codeButtonText]="'See the frontend code'"
        [codeButtonLink]="'https://github.com/JamesDiStef/board-games'"
        [backendCodeButtonLink]="
          'https://github.com/JamesDiStef/board-games-service'
        "
      ></app-link-card>
    </div>

    <div class="flex items-stretch">
      <app-link-card
        class="flex-1 w-full h-full"
        [title]="'Mammals of North America'"
        [description]="
          'Angular, Typescript, Tailwind, Java Spring, MongoDB.  Hosted on Netlify and Heroku.'
        "
        [codeButtonText]="'See the frontend code'"
        [link]="'https://rococo-lokum-be94cf.netlify.app/'"
        [codeButtonLink]="'https://github.com/JamesDiStef/mammals'"
        [backendCodeButtonLink]="
          'https://github.com/JamesDiStef/animals-service/tree/master'
        "
      ></app-link-card>
    </div>

    <div class="md:hidden w-full">
      <a
        href="https://www.linkedin.com/in/james-distefano-b033aa154/"
        target="_blank"
        class="my-5 w-full btn btn-secondary"
      >
        LinkedIn
      </a>

      <a
        href="https://github.com/JamesDiStef"
        target="_blank"
        class="w-full btn btn-secondary"
      >
        GitHub
      </a>
    </div>
  </div>
</div>
